{% extends "auctions/layout.html" %}

{% block title %}Closed Auctions{% endblock %}

{% block body %}

    <p class="subtitle-ph">Closed Listings</p>
    <hr>

    {% if closed_listings %}
        {% for listing in closed_listings %}
            <div class="active-listing-container">
                
                <a href="{% url 'detail' listing.id %}"><div class="img-div">
                    <img class="listing-image" src="{{ listing.image.url }}" alt="">
                </div></a>

                <div class="listing-details-index">

                    <div class="inline-block-elem">
                        <a href="{% url 'detail' listing.id %}">
                        <span class="listing-title">{{ listing.object_name.title }}</span></a>
                    </div>

                    <div class="">
                        <span class="key-ph">STATUS</span> - {% if listing.is_closed %}Closed{% else %}Active{% endif %}
                    </div>

                    <div class="">
                        <span class="key-ph">DESCRIPTION</span>
                        <br>
                        {{ listing.description }}
                    </div>

                    <div class="">
                        <span class="key-ph">STARTING BID</span> - {{ listing.starting_bid }} $
                    </div>

                    <div class="">
                        <span class="key-ph">CATEGORY</span> - {{ listing.category }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-closed-ph">There are currently no closed listings.</p>
        <p class="no-closed-ph">See <a class="color-links" href="{% url 'index' %}">Active Listings</a>.</p>
    {% endif %}
{% endblock %}